<%- include("partials/header")-%>
    <div class='box' id='heading'>
        <h1><%= listTitle %></h1>
    </div>
    <div class='box'>
        <% for (let i=0;i<listItems.length;i++) {%>
        <form action="/delete" method="post">
            <div class='item'>
            
            <p><input type="checkbox" name="checkBox" onChange="this.form.submit()" value="<%= listItems[i]._id %>"><%= listItems[i].name %></p>
            </div>
            <input type="hidden" name="listName" value=<%= listTitle %>> </input>
        </form>
        <% }%>
        <form class="item" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
            <button type="submit" name="list" value=<%= listTitle %>>+</button>
        </form>
    </div>
<%- include("partials/footer")-%>
